@font-face{
  font-family: oles;
  src: url(https://OlesSamko.github.io/olesGX.ttf);
}

@keyframes pjanim3 {
  0% {
    color: black;
    font-size: 300px;
    font-variation-settings: "wght" 0;
  }
  100% {
    color: black;
    font-size:300px;
    font-variation-settings: "wght" 100;
  }
}
@keyframes pjanim {
  0% {
    color: black;
    font-size: 200px;
    font-variation-settings: "wght" 0;
  }
  100% {
    color: #FC4747;
    font-size:200px;
    font-variation-settings: "wght" 100;
  }
}
@keyframes pjanim1 {
  0% {
    color: black;
    font-size: 100px;
    font-variation-settings: "wght" 0;
  }
  100% {
    color: black;
    font-size:100px;
    font-variation-settings: "wght" 100;
  }
}
body{
  font-family: oles;
  
}
h1  {
  color: blue;
  font-size: 64px;
  text-align: center;
  font-variation-settings:"wght" 800, "wdth" 1000;
  animation: 2.5s infinite pjanim;
}

h2{
  
  color: black;
  text-align: center;
  font-size: 200px;
  animation: 2.5s infinite pjanim1;
  
}
h3{
  text-align:center;
  
  font-family: 'Roboto', sans-serif;
  
  {
    
  }
  
}

.one {
  color: black;
  text-align: center;
  font-size: 200px;
  animation: 2.5s infinite pjanim3;
}

.two {
  animation: 3s infinite pjanim1
}
