@font-face{
  font-family: oles;
  src: url(olesGX.ttf);
}
@keyframes pjanim {
  0% {
    color: blue;
    font-size: 12px;
    font-variation-settings: "wght"800,"wdth"560
  }
  100% {
    color: purple;
    font-size:24;
    font-variation-settings: "wght"100,"wdth"100;
  }
}
body{
  font-family: oles;
  
  
}
h1  {
  color: green;
  font-size: 64px;
  text-align: center;
  font-variation-settings:"wght" 800, "wdth" 1000;
  animation: 3s infinite pjanim;
}

h2{
  
  color: black;
  text-align: center;

}
h3{
  text-align: center;
}
